# Control Structures and Data Frames

## PETE 2061 Lab 4 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 22, 2019)

<a id='top'></a>

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

2. It is commonly said that one human year is equivalent to 7 dog years. However, this simple conversion fails to recognize that dogs reach adulthood in approximately two years. As a result, some people believe that it is better to count each of the first two human years as 10.5 dog years, and then count each additional human year as 4 dog
years. <br>
Write a program that implements the conversion from human years to dog years described in the previous paragraph. Ensure that your program works correctly for conversions of less than two human years and for conversions of two or more human years. Your program should generate a random number between 0 and 10. <br>
Hints: <br>
a. Remember that you can generate a random number between 0 and 1 using the function numpy.random.random(1)<br>
b. You can scale this random number to go from 0 to 10 by multiplying it by 10<br>
c. At this point what you have is a random floating-point number that goes from 0 to 10. You need to convert this floating-point number to an integer using the int() function.

In [1]:
import numpy as np
age=int(10*np.random.random(1))
if age<=2:
    print(age*10.5)
else:
    age1=age*4+21
    print(age1)

57

3. For Students A through J, generate 10 different random numbers between 0 and 100. Create a dataframe to store the student names in the first column (called "Name"), and store the scores in the second column called "Score".
   Print out the mean, standard deviation and maximum of the scores, as well as the index of the student with this maximum score.

In [37]:
import pandas as pd
from numpy.random import randn
Name='A B C D E F G H I J'.split()
Score = 100*(np.random.random((10,1)))
df = pd.DataFrame(Score,index=Name,columns='Score'.split())
df = df.rename_axis('Students')
print(df)
print(np.mean(Score))
print(np.std(Score))
print(np.max(Score))
print(df.idxmax())
df

              Score
Students
A         49.003715
B         34.375790
C          8.936662
D         27.520730
E         83.696420
F         74.238287
G         73.519671
H         76.211349
I          0.500737
J         97.837230
52.58405921016496
31.735754015488137
97.83723029504401
Score    J
dtype: object

              Score
Students
A         49.003715
B         34.375790
C          8.936662
D         27.520730
E         83.696420
F         74.238287
G         73.519671
H         76.211349
I          0.500737
J         97.837230

4. Write a program that begins by reading a score in percentage (%) from the user. Then your program should compute and display the equivalent letter grade. Ensure that your program generates an appropriate error message if the user enters an invalid score.
Use the grading scale on your syllabus. These scores are typed in below.

In [ ]:
letterGrade = ['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-']
scores = [97,93,90,87,83,80,77,73,70,67,63,60]
score=input()
grade=int(score)
if grade>100:
    print("grade is invalid")
if grade<0:
    print("grade is invalid")
if grade<=100 and grade>=97:
    print("A+")
elif grade<97 and grade>=93:
    print("A")
elif grade<93 and grade>=90:
    print("A-")
elif grade<90 and grade>=87:
    print("B+")
elif grade<87 and grade>=84:
    print("B")
elif grade<84 and grade>=80:
    print("B-")
elif grade<80 and grade>=77:
    print("C+")
elif grade<77 and grade>=73:
    print("C")
elif grade<73 and grade>=70:
    print("C-")
elif grade<70 and grade>=67:
    print("D+")
elif grade<67 and grade>=64:
    print("D")
elif grade<64 and grade>=60:
    print("D-")
elif grade<60 and grade>=0:
    print("F")

5. Write a program that generates 10 random integers, and then prints the largest odd number that was entered. If no odd number was entered it should print a message to that effect. <br>
Hints: <br>
    a. Use pseudo-code. <br>
    b. Generate a random number using the code below:<br>
    myRandInt = np.random.randint(low=1, high=20, size=10)<br>
    c. Initialize an empty list to contain the odd numbers. Name this list oddInt <br>
    d. Within your for loop, you can append odd numbers to this empty list using the append function. eg: <br>
    oddInt.append("The current odd number from the list should be put in here!")

In [36]:
import numpy as np 
myRandInt = np.random.randint(low=1, high=20, size=10)#generates 10 random numbers between 0 and 20
oddInt=[] #initializes an empty list to place the generated numbers into
for nums in myRandInt: 
    if (nums % 2) !=0: #creates an if statement that only completes if the number is odd
        oddInt.append(nums) #adds the number to the initialized list
        print(max(oddInt)) #prints the largest number that was appended to the list

7
7
7
7
7
9